
body
 background-color: $light-gray

.row, .column, .columns
 box-sizing: border-box !important

.row
 +breakpoint(large down)
  max-width: 65rem
 &:first-child
  margin-top: 0
 +breakpoint(small only)
  padding: 0 1rem

.right
 float: right

.clear
 clear: both

.right-text
 text-align: right

.light
 font-weight: $light !important

.bold
 font-weight: $bold !important

.type-ggg
 +type($ggg, $kg)
 padding: 1rem 0

.type-gg
 +type($gg, $kg)
 padding: 1rem 0

.type-g
 +type($g, $kg)
 padding: 1rem 0

.type-m
 +type($m, $ks)
 line-height: 1.5
 padding: 0.5rem 0

.type-s
 +type($s, $ks)
 line-height: 1.5
 padding: 0.25rem 0

.type-ss
 +type($ss, $ks)
 line-height: 1.2
 padding: 0.25rem 0

.type-p
 +type($p,$ks)
 font-weight: $regular
 font-family: $text
 line-height: 1.5

.dark-purple
 color: $dark-purple

.purple
 color: $purple

.white
 color: $white

a.white
 border-bottom: 1px solid $white

.pink
 color: $pink

.blue
 color: $blue

.italic
 font-weight: $light
 font-style: italic

.no-padding
 padding: 0

.padding-title-m
 +padding-title($m, $ks)

.padding-title-g
 +padding-title($g, $kg)
