=h-align
 margin-left: auto
 margin-right: auto

=v-align
 position: relative
 top: 50%
 -webkit-transform: translateY(-50%)
 -ms-transform: translateY(-50%)
 transform: translateY(-50%)

=transition
 transition: 0.3s linear 0s

=overflow
 overflow: auto

=border-radius($radius)
 -webkit-border-radius: $radius
 -moz-border-radius: $radius
 -ms-border-radius: $radius
 border-radius: $radius

=size($width, $height)
 width: $width
 height: $height

=font($size,$font, $weight)
 font-family: $font
 font-size: $size
 font-weight: $weight

=bimg($url, $size, $position)
 background-image: url($url)
 background-size: $size
 background-position: $position
 background-repeat: no-repeat


//NOVA ESCALA

html
 font-size: -webkit-calc(0.25vw + 18px)

=type($t-max, $k)
 $t-min: $t-max*$k
 font-family: $display
 font-size: $t-min
 font-weight: $light
 line-height: 1.1
 padding-bottom: 1rem
 +breakpoint(medium up)
  font-size: calc(#{$t-min} + #{strip-unit($t-max - $t-min)}*(100vw - #{$medium-breakpnt})/#{strip-unit($xlarge-breakpnt - $medium-breakpnt)})
 +breakpoint(xlarge)
  font-size: $t-max

=padding-title($t-max, $k)
 $t-min: $t-max*$k
 padding-top: $t-min + 1rem
 +breakpoint(medium up)
  padding-top: calc(#{$t-min} + #{strip-unit($t-max - $t-min)}*(100vw - #{$medium-breakpnt})/#{strip-unit($xlarge-breakpnt - $medium-breakpnt)} + 1rem)
 +breakpoint(xlarge)
  padding-top: $t-max + 1rem
