section
 padding: 2rem 0
 margin-top: 2rem
 +breakpoint(small only)
  margin-top: 0

.bg-dark
 background-color: $dark-purple
 padding: 4rem 0 !important

.bg-white
 background-color: $white
 box-shadow: 0 0.5rem 2rem $black-10
 padding: 4rem 0 !important

.intro
 +bimg('../img/lego_blue.png', cover, center)
 background-color: $purple-50
 background-blend-mode: multiply
 margin-top: 0
 padding: 2rem 0

.shapes img
 margin-bottom: 1rem
