.row, .column, .columns
 box-sizing: border-box !important

.row
 +breakpoint(xlarge down)
  max-width: 65rem
 &:first-child
  margin-top: 0
 +breakpoint(small only)
  padding: 0 2rem

.column, .columns
 &:first-child
  padding-left: 0 !important
 &:last-child
  padding-right: 0 !important

.large-12
 margin-top: 2rem
 &:first-child
  margin-top: 0

img
 +breakpoint(small only)
  margin: 0 auto
  max-width: 100%
  display: block
